@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Movies</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model){
        <tr class="table-secondary" scope="row">

            <td>@Html.ActionLink(movie.Name, "Details", "Movies",new {id = movie.Id}, null)</td>
            <td>@movie.Genre.Type</td>


        </tr>
    }

    </tbody>

</table>


